.logo-text{
    font-size: large;
    font-family: 'Inter';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
}
.logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.navbar {
    justify-content: space-between;
    padding: 3em 10em 5em 10em;
    flex-wrap: none!important;
}
.navbar-special {
    background-image: url('../../assets/img/back.png');
    justify-content: space-between;
    padding: 3em 10em 5em 10em;
}
.nav-feature {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav-feature > .tab {
    margin: auto;
    color: #000;
    text-decoration: none;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
}
.nav-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.free{
    font-size: 20px;
    background-color: transparent;;
    padding:12px 22px;
    border-width: 4px;
    border-style: solid;
    border-color: #4db1cf;
    border-radius: 50px;
}